@use 'variables' as *;

// Flex Mixins
@mixin flex {
  display: flex;
  align-items: start;
  justify-content: start;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Typography Mixins
@mixin typography-base($weight) {
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-tight;
  
  @if $weight == "bold" {
    font-weight: $font-weight-bold;
  } @else if $weight == "semibold" {
    font-weight: $font-weight-semibold;
  } @else if $weight == "medium" {
    font-weight: $font-weight-medium;
  } @else {
    font-weight: $font-weight-regular;
  }
}

@mixin body1($weight: "regular") {
  font-size: $font-size-md;
  @include typography-base($weight);
}

@mixin body2($weight: "regular") {
  font-size: $font-size-sm;
  @include typography-base($weight);
}

// Animation Mixins
@mixin slide-in-right {
  animation: cher-slideInRight $transition-bounce;
}

@mixin slide-out-right {
  animation: cher-slideOutRight $transition-bounce forwards;
}
