@use 'variables' as *;

.cher-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  z-index: $z-loading;
  pointer-events: none;
}

.cher-loading-bar {
  height: 100%;
  transition-property: width;
  transition-timing-function: ease-out;
  will-change: width;

  &--fast {
    transition-duration: 0.2s;
  }

  &--normal {
    transition-duration: 0.3s;
  }
}
