@use 'variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fade-in {
  animation: cher-modal-fadeIn $transition-slow;
}

@mixin slide-up {
  animation: cher-modal-slideUp $transition-slow;
}
